<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="berkeley_humanoid_lite_biped_gazebo" params="prefix">

    <!-- ros_control plugin -->
    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find ros2_control_demo_example_18)/config/biped_robot_controllers.yaml</parameters>
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>
